body {
    background-color: #ffffff;
  }
  
  .z {
    z-index: 1;
  }

  .bg-ul {
    z-index: 0;
    filter: blur(120px) contrast(10);
    background: #ffffff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    list-style: none;
  }
  
  .bg-li {
    width: 300px;
    height: 300px;
    animation: 5s rotate infinite alternate-reverse;
    border-radius: 50% 43% 45% 50%;
    background: #031927;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(1turn) translate(1000px);
    }
  }
  
  .bg-li:nth-child(even) {
    animation: 10s rotate infinite alternate-reverse;
  }
  
  .bg-li:nth-child(3) {
    animation-duration: 10;
    animation-delay: -1.5s;
  }
