.hamburger-icon-mob {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1000;
  }

  .bar {
    width: 80px;
    height: 5px;
    background-color: var(--primary);
    margin: 15px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
  }

  .hamburger-icon-mob.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(10px, 40px);
  }
  
  .hamburger-icon-mob.active .bar:nth-child(2) {
    transform: scaleX(0);
    border-radius: 50%;
  }
  
  .hamburger-icon-mob.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -40px);
  }
  
  .menu-items-mob {
    list-style: none;
    padding-left: 1vw;
    padding-top: 100px;
    margin: 0;
    position: fixed;
    top: 124px;
    left: -100%;
    background-color: var(--nav);
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: left 0.5s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
  }

  .menu-items-mob.active {
    left: 0;
  }

  .menu-items-mob li {
    padding: 30px;
    border-radius: 20px;
    padding-right: 100px;
  }

  .menu-items-mob a {
    text-decoration: none;
    color: var(--primary);
    font-family: var(--font);
    font-size: 40pt;
  }

  .logo-mob {
    position: relative;
    height: 90px;
    margin-left: 75vw;
    padding-right: 10px;
  }
  
  
  
  .logo-mob::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
  