.hero-image-mob {
    margin-top: -400px;
    margin-left: -15vw;
    height: 70vw;
    padding-bottom: 10vh;
  }

  .hero-div-mob {
    padding-top: 24vh;
    
  }

  .hero-button-mob {
    all: unset;
    background-color: var(--primary);
    padding: 30px;
    font-size: 70pt;
    font-weight: 300;
    font-family: var(--font);
    text-decoration: none;
    color: var(--background);
    border-radius: 50px;
    box-shadow: 0px 0px 40px 10px var(--primarytr);
    cursor: pointer;
  }