:root {
    --background:#000000;
    --nav:#000a2d50;
    --primary:#000000;
    --primarytr:#00000080;
    --dark:#000a2d;
    --darkrt:#000a2d80;
    --text:#000000;
    --font: system-ui;
  }

  body {
    all: unset;
  }