h1 {
    z-index: 1;
    font-size: 80pt;
    font-family: var(--font);
    margin-top: -400px;
  }

  h2 {
    z-index: 1;
    font-size: 50pt;
    font-family: var(--font);
    padding: 50px;
  }

  p {
    font-family: var(--font);
    font-weight: 500;
    padding: 50px;
    margin-top: -150px;
  }
  
  .hero-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .div {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: saturate(1.8) blur(40px);
    align-items: center;
    justify-content: center;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 40px;
  }

  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-top: -600px;
    margin-bottom: 30vh;
    padding: 30px;
  }

.button-a {
  padding-left: 50px;
}

.button {
  font-family: var(--font);
  font-size: 20pt;
  color: var(--text);
  background-color: rgba(8, 0, 255, 0.624);
  border-radius: 30px;
  margin-bottom: 60px;
  cursor: pointer;
}