:root{
  --none: #00000000;
  --white: #ffffff;
  --white-70: #ffffffba;
  --white-50: #ffffff85;
  --white-10: #ffffff30;
  --black: #000000;
  --black-70: #000000ba;
  --black-50: #00000085;
  --black-10: #00000030;
  --gray: #4f4f4f;
  --gray-70: #4f4f4fba;
  --gray-50: #4f4f4f85;
  --gray-10: #4f4f4f30;
  --rood: #de2b65;
  --rood-50: #de2b6585;
  --orange: #eb7c19;
  --orange-50: #eb7c1985;
  --groen: #8abb2a;
  --groen-50: #8abb2a85;
  --donker-blouw: #8082b8;
  --donker-blouw-50: #8082b885;
}
* {
  shape-rendering: crispEdges;
}

body {
  margin: 30px;
  padding: 0;
  background-color: #000000;
  font-family: omnium;
  color: #ffffff;
}

.main {
  display: flex;
  background-color: #2f2f2f;
  border-radius: 9.5mm;
  padding: 3px;
  box-shadow: 0 0 40px #4f4f4f;
  margin: 50px 0px;
}

.image {
  height: 100%;
  width: 100%;
  max-width: 70px;
  max-height: 70px;
  min-width: 70px;
  margin: 20px;
}

h3 {
  font-size: 25px;
  font-family: misslee;
}

h2 {
  color: #ffffff75;
  text-align: center;
  margin: 60px 0px;
}

.text {
  margin-left: 10px;
}

.e2 {
  all: unset;
  position: fixed;
  background-color: var(--gray-70);
  padding: 10px 20px;
  border-radius: 999px;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px) !important;
  border: 1.5px solid var(--gray-70);
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.e2:hover {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px) !important;
}

.target {
  width:40px;
  padding: 10px;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
  cursor: pointer;
}

.target-clicked {
  background-color: var(--rood-50) !important;
  box-shadow: 0 0 30px -13px var(--rood)  !important;
}

.info {
  width:40px;
  padding: 10px;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
  cursor: pointer;
}

.info-clicked {
  background-color: var(--white-50) !important;
  box-shadow: 0 0 30px -13px var(--white)  !important;
}

.icons {
  display: flex;
  flex-direction: column;

}

.logo {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  max-width: 75px;
  margin: 20px;
  border-radius: 9999999999px;
}

.faq {
  margin-top: 50px;
}

.faq-item {
  margin-bottom: 20px;
  background-color: var(--gray-70);
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.faq-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.arrow {
  margin-right: 10px;
  transition: transform 0.2s ease-out;
  font-weight: bolder;
  font-family: omnium, sans-serif;
  font-size: 25px;
}

.arrow-down {
  transform: rotate(90deg);
}